.container
  %header
    %h1 Elecciones Responsables

  .content
    #map_area.box
      #frame
        #map

    #latest_tweets.box
      %footer
        %button#update-timeline.btn.pull-right Refresh
        %h2 Ultimos Tweets
      %ul.timeline.unstyled
